body {
    margin:0 ;
    display: block;

    background-color: lightgray;
}
html{
    scroll-behavior: smooth;
}
.contact {
    background: gray;
    margin: 10px 0;
display: flex;
    flex-direction: column;
    align-items: center;
}


nav{
    margin: 0;
    top: 0;
    position: sticky;
    display: -webkit-box;
}
nav ul {
    list-style-type:none;
    top: 0;
    margin:0;
    padding:0;
    position: absolute;
    background:#2f3036 ;
    width: 100%;
}

nav li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}

nav li a {
    display:block;
    min-width:140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: #2f3036;
    text-decoration: none;
}

nav li:hover a {
    background: #19c589;
}

nav li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
}

nav li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden, .hidden:hover {
    display: block;
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #2f3036;
    text-align: center;
    padding: 16px 0;
    display: none;
}
.show-menu:hover {
    background:#19c589;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~ #menu{
    display: block;
}

article {
    padding: 0 16px;
    margin-top: 50px;
    margin-bottom: 48px;
}

#main{
    height: 1650px;
}

#Opdrachten{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1vw;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
    align-content: space-around;
}
#Opdrachten div{
    text-align: center;
    margin: 20px 0 20px 0;
    width: 600px;
}
#Opdrachten img{
width: 100px;
}
#Opdrachten h1{
    font-size: 40px;
    display: block;
    flex: 0 0 100%;
}
#OntwikelingsGesprekken {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 1vw;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
    align-content: space-around;
}
#OntwikelingsGesprekken div{
    text-align: center;
    margin: 20px 0 20px 0;
    width: 600px;
}
#OntwikelingsGesprekken img{
    width: 100px;
}
#OntwikelingsGesprekken h1{
    font-size: 40px;
    display: block;
    flex: 0 0 100%;
}
.border {
    border: 2px solid;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#Refelectie{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    text-align: center;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
}
#Refelectie h1{
    font-size: 40px;
}
#logboek{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    scroll-margin-top: 150px;
}

#logboek h1{
   font-size: 40px;
}
.border ul{
margin-top: 0;
}

.border img {
    margin: 20px 0 10px;
}

* {
    box-sizing: border-box;
}
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}

.skills {
    display: block;
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}

.ned {width: 90%; background-color: #04AA6D;}
.fr {width: 40%; background-color: #f44336;}
.eng {width: 65%; background-color: #2196F3;}
.word {width: 100%; background-color: #04AA6D;}
.excel {width: 70%; background-color: #2196F3;}



.mobile{
    display: none;
}

div.liks {
    float: left;
    width: 30%;
}

div.rechts {
    float: right;
    width: 69%;
}
.rechts div:active{
    transform: scale(1.15);
    background-color: lightgray;
    padding: 10px;
    border: solid black;

}
.rechts h2{
    font-size: 40px;
}
footer {
    padding: 10px;
    background-color: #2f3036;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    border-radius: 4px;

}
footer a {
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;

}
@media screen and (max-width: 1568px) {
    nav{
        display: block;
        position: sticky;
        top: 0;
        width: 100%;
    }

    nav ul {
        position: static;
        display: none;

    }
    article {
        padding: 0 16px;
        margin-top: 0;



    }

    nav  li {
        /*margin-bottom: 1px;*/
        margin: 0;
    }

    ul li, li a {
        width: 100%;
        margin: 0;
    }

    .show-menu {
        display:block;
    }

}
@media screen and (max-width: 480px) {


    .show-menu {
        display:block;
    }


    article {
        padding: 16px;
        margin-top: 0;

        display: flex;
        flex-direction: column;

    }
    #main{
        height: auto;
    }
    div.liks{

        float: none;
        width: 100%;
    }
    div.rechts{

        float: none;
        width: 100%;
    }
.mobile{
    display: block;
}
table{
    display: none   ;
}
}
#foto  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    border-radius: 10px;
    scroll-margin-top: 150px;

}
#foto  img:hover {
    box-shadow: 2px 2px 4px #000000;
}
#foto img:active {

    padding: 0;
    border: solid white;
    box-shadow: none;
}
#Taalkennis{
    scroll-margin-top: 150px;
}
#SoftwareKn{
    scroll-margin-top: 150px;
}
#SterkePunten{
    scroll-margin-top: 150px;
}
#StudenteJob{
    scroll-margin-top: 150px;
}
#Stage{
    scroll-margin-top: 150px;
}
#Opleiding{
    scroll-margin-top: 150px;
}
#info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
    text-align: center;
}
#Competentie{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vw;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
    text-align: center;
    align-content: space-around;
}
#Competentie div{
    margin-top: 10px;
    width: 600px;
}
#Competentie h1 {
    font-size: 40px;
    display: block;
    flex: 0 0 100%;
}
#situering{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vw;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
    text-align: center;
    align-content: space-around;
}
#situering div{
    margin-top: 10px;
    width: 600px;
}
#situering h1 {
    font-size: 40px;
    display: block;
    flex: 0 0 100%;
}
#overzicht {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 10vw;
    scroll-margin-top: 150px;
    text-align: center;
}
#overzicht h1 {
    font-size: 40px;
    display: block;
    flex: 0 0 100%;
}

#algemenenInfo{
    scroll-margin-top: 60px;
}
#algemenenInfo p {
    margin: 10px;

}
#algemenenInfo h3 {
    font-size: 25px;

}
h2{
    margin: 0 0 10px;
}
h3  {
    margin: 0;
}
#OpleidingenSecundaire {
    scroll-margin-top: 150px;
}
#OpleidingenSecundaire h3{
    padding:0 0 20px
}
.contact h2{
    margin-bottom: auto;
}
td, th{
    text-align: center;
    color: black ;
    border: 1px solid white;
    padding: 10px 0;
    width: 14.28%;
    border-bottom: 1px solid #ddd;
}
table{
    border: 1px  solid white;
    empty-cells: hide;
    border-collapse: collapse;
    color: black;
    table-layout: fixed;
}
tbody tr td {
    width: 14.28%;
}
tbody tr:nth-child(odd){
    background-color: gray;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    font-weight:bold;
}
.tabOnt button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 49%;
}

/* Change background color of buttons on hover */
.tabOnt button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tabOnt button.active {
    background-color: #ccc;
    font-weight:bold;
}
div h1{
    text-align: center;
}
.tabcontent {
    display: none;
    padding: 6px 12px;

}
.button{
    border-radius: 20px;
    background-color: #2f3036;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}
h3{
    text-align: center;
    margin-bottom: 20px;
}

